.page {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #292929;

  /* Плавный скролл */
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
  pointer-events: none; /*Что бы пропало наложени поверх всего*/
}

/* Сработает, если меню в таргете, встроке ссылки */
.page__menu:target {
  opacity: 1;
  pointer-events: all;
}